@font-face {
    font-family:"boldfont" ;
    src: url("../font/boldfont.otf"); 
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1{
    color: white;
    font-size: 80px;
    font-family: boldfont;
    text-align: center;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}

p{
    color: white;
}

h2{
    color: white;
    font-size: 35px;
    font-family: boldfont;
    text-align: center;
}

#bouton_simulation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bouton_simulation a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 0, 251);
    box-shadow: 0px 5px 0px rgb(123, 0, 154);
    border-radius: 5px;
    height: 55px;
    width: 10%;
    font-size: 30px;
    cursor: pointer;
    font-family:'boldfont';
    color: white;
    text-decoration: none;
}

#bouton_simulation a:hover{
    background-color: rgb(123, 0, 154);
}

#bouton_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: boldfont;
    width: 150px;
}

#bouton_nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#bouton_nav a:hover{
    color: rgb(255, 0, 111);
    text-decoration: underline;
}

#container_chapeaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
}

.chapeaux{
    border-radius: 5px;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.155);
    text-align: center;
}

h3{
    color: white;
    font-size: 25px;
    font-family: boldfont;
}

p{
    font-family: boldfont;
}