@font-face {
    font-family:"boldfont" ;
    src: url("../font/boldfont.otf"); 
}

@keyframes couleur {
    0% { color: rgb(255, 60, 92);}
    33% { color: rgb(195, 0, 255);}
    66% { color: rgb(255, 136, 0);}
    100% { color: rgb(255, 60, 92);}
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    margin-top: 50px;
}

h1{
    color: white;
    font-size: 125px;
    margin-top: 10px;
    font-family: boldfont;
    cursor: pointer;
}

h1:hover{
    animation: couleur 2s ease-in-out infinite;
}

#logo{
    width: 200px;
}

#bouton_simulation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bouton_simulation a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 0, 251);
    box-shadow: 0px 5px 0px rgb(123, 0, 154);
    border-radius: 5px;
    height: 60px;
    width: 18%;
    font-size: 30px;
    cursor: pointer;
    font-family:'boldfont';
    color: white;
    text-decoration: none;
}

#bouton_simulation a:hover{
    background-color: rgb(123, 0, 154);
}